.mypy_cache/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
__pycache__/
project-docs
prompt
.gpteng
command
requirements.txt
run.sh
.pytest_cache
tests/temp_output
*.DS_Store
tests/data/private_test_data
